<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        TABLE {
            width: 900px;
            border-collapse: collapse;
        }
   .border {
    padding: 3px;
    border: 1px solid black;
   }
   BODY{
       margin:0 auto;
   }

   .first-area-table{
       float: left;
       width: 45%;
   }
   .second-area-table{
       float: left;
       width: 45%;
       margin-left: 10%;
   }
   IMG{
       width: 900px;
   }
  </style>
</head>
<body>
<h1 align="center">Аналитика по зарплатам и городам для профессии {{profession}}</h1>
<img src="file:///C:\Users\79194\PycharmProjects\pythonProject\graph.png" align="center">
<h2 align="center">Статистика по годам</h2>
<table class="table1">
    <tr>
        <th class="border" align="center">{{first_header[0]}}</th>
        <th class="border" align="center">{{first_header[1]}}</th>
        <th class="border" align="center">{{first_header[2]}}</th>
        <th class="border" align="center">{{first_header[3]}}</th>
        <th class="border" align="center">{{first_header[4]}}</th>
    </tr>
    {% for key, value in year_salary.items() %}
        <tr>
            <td class="border" align="center">{{key}}</td>
            <td class="border" align="center">{{value}}</td>
            <td class="border" align="center">{{prof_salary[key]}}</td>
            <td class="border" align="center">{{years_count[key]}}</td>
            <td class="border" align="center">{{prof_count[key]}}</td>
        </tr>
    {% endfor %}
</table>
<h2 align="center">Статистика по городам</h2>
<table class="first-area-table">
    <tr>
        <th class="border" align="center">{{second_header[0]}}</th>
        <th class="border" align="center">{{second_header[1]}}</th>
    </tr>
    {% for key1, value1 in areas_salary.items() %}
    <tr>
        <td class="border" align="center">{{key1}}</td>
        <td class="border" align="center">{{value1}}</td>
    </tr>
    {% endfor %}
</table>
<table class="second-area-table">
    <tr>
        <th class="border" align="center">{{second_header[2]}}</th>
        <th class="border" align="center">{{second_header[3]}}</th>
    </tr>
    {% for key2, value2 in areas_count.items() %}
        <tr>
            <td class="border" align="center">{{key2}}</td>
            <td class="border" align="center">{{value2}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>